$ORIGIN {{ coredns_zone_name }}.
@       IN      SOA     ns1.{{ coredns_zone_name }}.  {{ postmaster_email }}. (
                        2023101001 ; Serial
                        3600       ; Refresh
                        1800       ; Retry
                        604800     ; Expire
                        3600 )     ; Minimum TTL
        IN      NS      ns1.{{ coredns_zone_name }}.
ns1     IN      A       {{ hostvars[inventory_hostname]['ansible_' + target_iface]['ipv4']['address'] }}
